@model List<VisitorWebsite.Areas.Admin.Models.VisitorModel>

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="border:1px solid #2b3643;">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Visitors</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table id="add-row"
                                   class="display table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th class="col">Name</th>
                                        <th class="col">Organization</th>
                                        <th class="col">Department</th>
                                        <th class="col">Host Name</th>
                                        <th class="col">Purpose</th>
                                        <th class="text-center col">No of Person</th>
                                        <th class="col">ID Proof</th>
                                        <th class="col">ID Proof No.</th>
                                        <th class="col">Visit date</th>
                                        <th class="col text-center">Status</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var v in Model)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @if (string.IsNullOrEmpty(v.VisitorImage))
                                                {
                                                    <img src="~/img/profile.jpg" alt="profile" style="width:60px;height:60px;border-radius:15px" />
                                                }
                                                else
                                                {
                                                    <img src="@v.VisitorImage" alt="profile" style="width:60px;height:60px;border-radius:15px" />
                                                }
                                            </td>
                                            <td class="col">@v.VisitorName</td>
                                            <td class="col">@v.OrganizationName</td>
                                            <td class="col">@v.DepartmentName</td>
                                            <td class="col">@v.HostName</td>
                                            <td class="col">@v.Purpose</td>
                                            <td class="text-center col">@v.NoOfPerson</td>
                                            <td class="col">@v.IDProof</td>
                                            <td class="col">@v.IDProofNumber</td>
                                            <td class="col">@v.VisitDate.ToString("dd/MM/yyyy") <br/> @v.VisitDate.ToString("hh:mm tt")</td>
                                            <td class="col text-center">
                                                @{
                                                    if (v.CheckIn != null && v.CheckOut == null)
                                                    {
                                                        <span class="badge badge-danger">Checked In</span>
                                                    }
                                                    else if (v.CheckIn != null && v.CheckOut != null)
                                                    {
                                                        <span class="badge badge-success">Checked Out</span>
                                                    }
                                                    else if (v.CheckIn == null && v.CheckOut == null)
                                                    {
                                                        <span class="badge badge-warning">Not defined</span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            // Add Row
            $("#add-row").DataTable({
                pageLength: 5,
            });

           $(document).on('click', '#deleteRecord', function () {
              const id = $(this).data('id'); //Retrieve the ID from the button's data-id attribute
              console.log('ID ============= ' + id);

              Swal.fire({
                  title: 'Are you sure?',
                  text: "This action cannot be undone!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                  if (result.isConfirmed) {
                      $.ajax({
                        url: `http://localhost:5153/api/Visitor/${id}`,
                          type: 'DELETE',
                          success: function (response) {
                              Swal.fire(
                                  'Deleted!',
                                  'The record has been deleted.',
                                  'success'
                              ).then(() => {
                                  location.reload();
                              });
                          },
                          error: function (xhr, status, error) {
                              console.log('Error ============ ' + error);
                              Swal.fire(
                                  'Error!',
                                  'Failed to delete the record.',
                                  'error'
                              );
                          }
                      });
                  }
              });
          });

        });

    </script>

    <script>

    </script>

}