@model List<VisitorWebsite.Areas.Admin.Models.UserModel>

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="border:1px solid #2b3643;">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Receptionist</h4>
                            <a class="btn btn-primary btn-round ms-auto"
                               asp-area="Admin"
                               asp-controller="User" asp-action="ReceptionistForm">
                                <i class="fa fa-plus"></i>
                                Add Receptionist
                            </a>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table id="add-row"
                                   class="display table table-hover table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile No.</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>City</th>
                                        <th>Organization</th>
                                        <th>Joining date</th>
                                        <th style="width: 10%">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var v in Model)
                                    {
                                        <tr class="text-center">
                                            <td>@v.UserName</td>
                                            <td>@v.Email</td>
                                            <td>@v.MobileNo</td>
                                            <td>@v.Gender</td>
                                            <td>@v.Age</td>
                                            <td>@v.City</td>
                                            <td>@v.OrganizationName</td>
                                            <td>@v.JoiningDate</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a asp-controller="User" asp-action="ReceptionistForm" asp-route-userID="@v.UserID"
                                                       class="btn btn-link btn-warning btn-lg">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a data-id="@v.UserID"
                                                       class="btn btn-link btn-danger btn-lg"
                                                       id="deleteRecord">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            // Add Row
            $("#add-row").DataTable({
                pageLength: 5,
            });

           $(document).on('click', '#deleteRecord', function () {
              const id = $(this).data('id'); //Retrieve the ID from the button's data-id attribute
              console.log('ID ============= ' + id);

              Swal.fire({
                  title: 'Are you sure?',
                  text: "This action cannot be undone!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                  if (result.isConfirmed) {
                      $.ajax({
                        url: `http://localhost:5153/api/User/${id}`,
                          type: 'DELETE',
                          success: function (response) {
                              Swal.fire(
                                  'Deleted!',
                                  'The record has been deleted.',
                                  'success'
                              ).then(() => {
                                  location.reload();
                              });
                          },
                          error: function (xhr, status, error) {
                              console.log('Error ============ ' + error);
                              Swal.fire(
                                  'Error!',
                                  'Failed to delete the record.',
                                  'error'
                              );
                          }
                      });
                  }
              });
          });

        });

    </script>

    <script>

    </script>

}